<table>
  <thead>
    <tr>
      <td><strong>First Name</strong></td>
    </tr>
  </thead>
  <tbody>
    <% results.forEach(row => { %>
    <tr>
      <td><%= row.first_name%></td>
    </tr>
    <% }) %>
  </tbody>
</table>
